
.likebok {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.h100 {
    height: 100%;
}

.likebox {
    height: 85%;
    align-items: flex-start;
}

.searchbox {
    width: 30%;
    margin-bottom: 2%;
}

.searchbox-input {
    width: 100%;
    border: none;
}

.searchbox-input:focus {
    outline: none;
    border: none;
    --tw-ring-color: none !important;
}